/*selektor znacznika */
p {
    color: red;
}

/* Selektor id */
#paragraph {
    color: brown;
        
}

/*selektor klasy */
    .aaa
{color: blue;
}
    
        
/*Łączenie selektorów*/
a, span, div {
    color: lawngreen;
}

/* Selektor bezpośredniego elementu potomnego */
li > a {
    color: yellow;
}