/*selektor znacznika */
p {
    color: red;
}

/* Selektor id */
#paragraph {
    color: brown;
        
}

/*selektor klasy */
    .aaa
{color: blue;
}
    
        
/*Łączenie selektorów*/
a, span, div {
    color: lawngreen;
}

/* Selektor bezpośredniego elementu potomnego */
li > a {
    color: yellow;
}

/* selektor elementów potomnych */

div a {
    color: deeppink;
    
}

/* Selektor bliskiego rodzeństwa */
h2 + h3 {
    color:aqua;
}

/* Selektor rodzeństwa */
h4 ~ p {
    color: crimson;
}
/* Slelektor wykluczający */
ul > li:not(.last){
    color: chartreuse;
}

