/*selektor znacznika */
p {
    color: orange;
}

/* Selektor id */
#paragraph {
    color: blue;
        
}

/*selektor klasy */
    .aaa
{color: green;
}
    
        
/*Łączenie selektorów*/
a, span, div {
    color: red;
}